In [ ]:
# load the libraries

import os
import pandas as pd
import numpy as np

!pip install keybert
from keybert import KeyBERT

In [7]:
# load the input file - list of topics

data = pd.read_csv("./data/session2014_topic.csv", encoding = 'latin')

In [ ]:
# first query segment generation

data['query'] = 0

kw_model = KeyBERT()

for i in data.index:
     text = data['session_topic'][i]
     keywords = kw_model.extract_keywords(text)   
     data['query'][i] = keywords

In [13]:
# create session and query segment ids

data['query_id'] = 0
data['session_id'] = range(0, len(data))

In [14]:
data.head(5)

,session_topic,topic_id,query,query_id,session_id
0,"""Bollywood"", the film industry based in Mumbai...",629,"[(bollywood, 0.6349), (growth, 0.4326), (india...",0,0
1,"A ""designer dog"" is a cross between two purebr...",1020,"[(breeds, 0.4849), (bred, 0.3871), (designer, ...",0,1
2,A friend from Kenya is visiting you and you'd ...,980,"[(kenya, 0.4643), (swahili, 0.4344), (cooking,...",0,2
3,A friend from Kenya is visiting you and you'd ...,380,"[(swahili, 0.6237), (kenya, 0.5022), (cooking,...",0,3
4,A friend has been complaining for months that ...,342,"[(depression, 0.4832), (unhappy, 0.323), (slee...",0,4

In [ ]:
data.to_csv("./data/query.csv", sep = '\t', index = None)